html,body{margin:0;padding:0;font-family: 'Open Sans','nanumgothic','malgun gothic',arial,dotum,sans-serif;font-family: 'Lato', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-rendering: optimizeLegibility;background-color: #161616}
body:not(.home) .top-bg {display: none;}
body:not(.home) .top-bg-small {display: block;z-index: 1;}
a{-webkit-transition:all 200ms linear 0s;-moz-transition:all 200ms linear 0s;transition:all 200ms linear 0s;text-decoration: none !important;color: #333;cursor: pointer;text-decoration: none;}
a:hover, a :focus{ text-decoration: none; color: #999}
img{border: none}
ul{list-style: none; padding: 0}
.clearfix {clear: both;}
.fleft{float: left}
.fright{float: right}
.fwrap{overflow: hidden}
.fwrap-y{overflow-y: visible}
.block{display: block}
.inline{display: inline-block}
.relative{position: relative}
.none{display: none}
.visible{visibility: visible}
.center{margin: 0 auto}
.-mos{-webkit-transition: all 0.3s ease;-khtml-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
h1,h2,h3,h4,h5,h6{font-weight: 700;font-family:'Raleway', sans-serif;}
img {max-width:100%;}
.bold{font-weight: bold;}
.color{color:#37c1ff}
.center{text-align: center;}
/*.header*/
header {height: 105px !important;}
.header{padding: 28px;position:fixed;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;top: 0;left: 0;clear: both;background: #005d5a;z-index: 234;}
.header .container .logo{ order: 2; flex: 1 auto; text-align: center; padding: 15px 0}
.header .container .logo img{display: inline-block}
.header .container menu[data-order="1"]{ order: 1; flex: 2 auto; text-align: center}
.header .container menu[data-order="2"]{ order: 3; flex: 2 auto;}
.header .top{color: #acacac; font-size: 11px; font-weight: bold; text-transform: uppercase; text-align: center; font-family: Arial; padding: 5px 0;position: relative; z-index:2}
.header .top::before{position: relative;}
.header .top span a{color:#fff; padding:5px 2px;}
.header .mid{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;z-index: 4;text-align: center;}
.header .mid:after, .header .mid:before{position: absolute; left: 0; width: 100%; background: url("../data/head-line.png") 100% no-repeat; background-position: center; height: 5px; content: ''}
.header .mid:before{top: -3px;}
.header .mid:after{bottom: -5px;}
.header menu{list-style: none; padding: 0; margin: 0;width: 100%;}
.header menu > li{display: inline-block; position: relative;  font-family: Raleway, sans-serif; transition: all 0.2s;padding:10px;}
.header menu > li >a.hasSub{padding-right:10px;}
.header menu > li >a.hasSub:after{position: absolute; content: '\f107'; right: 10px; top: 14px; font-size: 15px; font-family: FontAwesome}
.header menu > li li{display: block; position: relative}
.header menu > li > a, .header menu > li > a:visited{font-weight: bold; color: #fff; font-size: 14px; text-transform: uppercase; padding:5px; display:block;}
.header menu > li:hover { background-color:rgba(0,0,0,0.3); }
.header menu > li ul{list-style: none; padding: 0; margin: 0; z-index: 99; background-color: rgba(0,0,0,.7); text-align: center; border: 1px solid #4dc1f1; min-width: 160px; max-width: 260px; position: absolute;}
.header menu > li > ul:after, .header menu > li > ul:before {bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.header menu > li > ul:after {border-color: rgba(0, 0, 0, 0);border-bottom-color: #000000;border-width: 10px;margin-left: -35px;}
.header menu > li > ul:before {border-color: rgba(77, 193, 241, 0);border-bottom-color: #4dc1f1;border-width: 11px;margin-left: -36px;}
.header menu li:hover> ul{visibility: visible; opacity: 1; transform: translateY(0%); transition-delay: 0s, 0s, 0.3s;}
.header menu > li ul{left:10px; top: 100%;  visibility: hidden; opacity: 0; transform: translateX(50%);transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;}
.header menu > li >ul > li a, .header menu > li >ul > li a:visited{color: #999999; position: relative; font-size: 12px; padding: 8px 15px; display: block; text-align: left; font-family: 'Arial'; border-bottom: 1px solid #233e49}
.header menu > li >ul > li:last-child a{border: none;}
.header menu > li >ul >li >a.hasSub:after{position: absolute; content: '+'; right: 8px; top: 6px; font-size: 15px;}
.header menu > li >ul > li:hover >a{color: #fff; background-color: #4dc1f1}
.header menu > li >ul > li ul{left: 100%; top: 0;}
.header menu > li >ul > li ul li {border-bottom: 1px solid #233e49;}
.header menu > li >ul > li ul li:hover a{color: #fff}
/*top background */
.header .top-bg{position:absolute; top:0;right: 0; z-index:9999}
.header .top-bg>img{width: 150px;}
.header .top-banner ul li a{display: block;}
/* .header */
.page-.header {padding: 20px 0;background: #333;margin: 0;}
/*top banner*/
.header .top-banner{position: absolute;bottom: 35px;left: 30px;z-index: 3}
.header .top-banner ul{margin:0; padding:0; list-style: none}
.header .top-banner ul li{display: inline-block;padding-right: 5px;}
.header .top-banner ul li img{border-radius: 5px;}
.header .top-bg-small{position: absolute; top:0; right: 0; z-index: 9999;display: none;}
/*full width banner*/
.fullwidthbanner-container{max-height: 500px !important;}
.fullwidthbanner-container:before, .fullwidthbanner-container:after{height: 10px; background-color: rgba(255,255,255,.5); position: absolute; left: 0; width: 100%; content: ''; z-index: 90}
.fullwidthbanner-container:before{top:0}
.fullwidthbanner-container:after{bottom:0}
#baguetteBox-overlay .full-image figcaption{font-size:70px;}
.tp-bullets{right: 40px !important; left: inherit !important; bottom: 40px  !important;}
/*stones*/
.stones{ border-bottom: 4px solid #282828;}
.stones .mix-container {padding: 15px 40px; padding-top: 40px}
.stones .mix-container .mix{margin-bottom: 25px;}
.stones .mix-container .mix .title{white-space: nowrap;text-overflow: ellipsis; position: relative; overflow: hidden;display: inherit;font-size: 15px; text-transform: uppercase; color: #fff; font-weight: bold; background-color: #282828; padding:15px 15px;}
.stones .mix-container .mix.new .title{padding-right: 55px;}
.stones .mix-container .mix .img{ overflow: hidden; width: 100%; display: inline-block; height:285px;}
.stones .mix-container .mix .img img{object-fit: cover; object-position: center; width: 100%; height: 100%}
.stones .mix-container .mix.new .title:after{background-image: url("../data/new.png"); height: 42px; width: 43px; content: ''; display: block; position: absolute; top: 0; right: 5px;}
.stones .controls{padding: 15px 50px 0 50px; border-bottom: 1px solid #e1e1e1}
.sink .controls{padding: 15px 50px; border-bottom: 1px solid #e1e1e1}
.stones .controls h1{display: inline-block; font-size: 30px; font-weight: lighter; margin-right: 60px; color: #fff}
.stones .controls .select{display: inline-block;  -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; height: 50px; line-height: 50px; margin-right: 25px; top:15px; padding-left: 10px; position: relative; cursor: pointer; text-transform: uppercase;}
.stones .controls .select:hover, .stones .controls .sinks button:hover{background-color: rgba(255,255,255,0.2);}
.stones .controls .select.choosing{border: 1px solid #00a86b}
.stones .controls .select span{display: inline-block; font-family:'Raleway', sans-serif; font-size: 17px; font-weight: bold; color: #fff; padding-right: 30px; position: relative; min-width: 90px;}
.stones .controls .select span:after{position: absolute; right: 5px; color: #00a86b; top: 0; height: 100%; content: '\f0d7'; font-family: FontAwesome; font-size: 25px}
.sink .controls .select span:after{position: absolute; right: 5px; color: #00a86b; top: 0; height: 100%; content: '\f0d7'; font-family: FontAwesome; font-size: 25px}
.stones .controls .select.active{background-color: #00a86b}
.sink .controls .select.active{background-color: #00a86b}
.stones .controls .select.active:after{position: absolute; right: 5px; color: #fff; top: 0; height: 100%; content: '\f0d8'; font-family: FontAwesome; font-size: 25px}
.stones .controls .select .buttons{display: none; border: 1px solid #00a86b;  background-color: rgba(0,0,0,.8); text-align: center; position: absolute; top: 100%; left: 0; z-index: 99}
.sink .controls .select .buttons{display: none; border: 1px solid #00a86b;  background-color: rgba(0,0,0,.8); text-align: center; position: absolute; top: 100%; left: 0; z-index: 99}
.stones .controls .select .buttons button{display: block; outline: none; width: 140px; color: #999999; font-size: 12px; text-transform: uppercase; line-height: 18px; background: none; border: none; padding: 8px 15px; text-align: left; font-family: 'Arial'; border-bottom: 1px solid #10997e;padding-left: 30px; position: relative}
.stones .controls .select .buttons button.mixitup-control-active{color: #fff;min-width: 132px;}
.stones .controls .select .buttons button:before{position: absolute; height: 16px; width: 16px; border: 1px solid #999; content: ''; left: 8px; top:50%; margin-top: -8px;}
.stones .controls .select .buttons button:after{position: absolute; height: 16px; width: 16px; content: ''; left: 8px; top:50%; margin-top: -8px; background: url("../data/icon/check.png"); opacity: 0}
.stones .controls .select .buttons button.mixitup-control-active:before{border-color: #00a86b}
.stones .controls .select .buttons button.mixitup-control-active:after, .stones .controls .buttons button.mixitup-control-active:before{opacity: 1}
.stones .controls .select:hover .buttons{ display:block;}
.stones .mix-container .mix .img:hover{opacity: 1;}
.sink .controls .select:hover .buttons{display:block;}
/* loading more */
.loadMore {padding-bottom: 15px;padding-top: 15px;text-align: center;width: 100%;}
.loadMore a {background: #363636;border-radius: 4px;color: white;display: inline-block;padding: 10px 40px;transition: all 0.25s ease-out;-webkit-font-smoothing: antialiased;font-size: 14px; font-weight: bold;text-transform: uppercase;position: relative;overflow: hidden;border-bottom: 1px solid #444;}
.loadMore a:after{content: ''; width: 100%; border-bottom: 3px solid #222; border-radius: 5px; height: 100%; position: absolute; bottom: 0; left: 0;}
.loadMore a:hover {background-color: #777;}
/*footer */
.footer{padding: 15px 50px;margin-top:5px;}
.footer .nav-footer li{display: inline-block;margin-left: 5px;margin-right: 5px;text-transform: uppercase;}
.footer ul li a {color: #f5f5f5;font-size: 13px;}
.footer .nav-footer li:hover a{border-bottom: 1px solid #fff;transition: all .2s ease-in-out;}
.footer ul li:before {content: '|';color: #fff;display: inline-block;margin-right: 10px;}
.footer ul li:nth-child(1):before {display: none;}
.footer .copyright{text-transform: uppercase; font-weight: 700; color:#7a7a7a;}
.none{display: none !important;}
/*sink*/
.sinks{display: inline-flex;}
.sinks >button{outline: none;text-transform: uppercase;line-height: 18px;background: none;border: none;padding: 8px 15px;text-align: left;float: left;display: inline-block;font-size: 17px;font-weight: bold;color: #fff;padding-right: 30px;position: relative;min-width: 90px;font-family:'Raleway', sans-serif;}
.sinks > button:before {position: absolute;height: 16px;width: 16px;content: '';right: 8px;top: 50%;margin-top: -8px;background: url(../data/icon/check.png);opacity: 0;}
.sinks > button:after{position: absolute;height: 16px;width: 16px;border: 1px solid #999;content: '';right: 8px;top: 50%;margin-top: -8px;}
@media (max-width: 1000px) {
    .header menu{display: none}
    .stones .mix-container, .stones .controls{padding: 15px}
    .stones .controls .select{margin-right: 10px}
    .stones .controls h1{margin-right: 25px}
    footer{text-align: center}
    footer .fleft, footer .right{width: 100%; margin-bottom: 10px}
    /*.stones .mix-container .mix .img{height: 220px}*/
    .top-bg img{height: 150px}
}
@media (max-width: 769px) {
    .header .top{display: none}
    .stones .mix-container, .stones .controls{padding: 15px 5px}
    .fullwidthbanner-container{max-height: 250px !important;}
    /*.stones .mix-container .mix .img{height: 160px}*/
    .stones .mix-container .mix{padding: 0 5px}
}
/* Gallery */
.demo-gallery{background: #fff;padding:30px;}
.demo-gallery > ul {margin-bottom: 0;}
.demo-gallery > ul > li {margin-bottom: 15px;}
.demo-gallery > ul > li a {display: block;overflow: hidden;position: relative;float: left;border-radius: 5px;height: 250px;}
.demo-gallery > ul > li a > img {-webkit-transition: -webkit-transform 0.15s ease 0s;-moz-transition: -moz-transform 0.15s ease 0s;-o-transition: -o-transform 0.15s ease 0s;transition: transform 0.15s ease 0s;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);width: 100%;border-radius: 5px;}
.demo-gallery > ul > li a:hover > img {-webkit-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {opacity: 1;}
.demo-gallery > ul > li a .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.1);bottom: 0;left: 0;position: absolute;right: 0;top: 0;-webkit-transition: background-color 0.15s ease 0s;-o-transition: background-color 0.15s ease 0s;transition: background-color 0.15s ease 0s;border-radius: 5px;}
.demo-gallery > ul > li a .demo-gallery-poster > img {left: 50%;margin-left: -10px;margin-top: -10px;opacity: 0;position: absolute;top: 50%;-webkit-transition: opacity 0.3s ease 0s;-o-transition: opacity 0.3s ease 0s;transition: opacity 0.3s ease 0s;}
.demo-gallery > ul > li a:hover .demo-gallery-poster {background-color: rgba(0, 0, 0, 0.5);}
/* Gallery filter */
.portfolioFilter {padding: 20px 30px;background: #fff;}
.portfolioFilter a {margin-right: 6px;font-size:18px;color: #000;text-decoration: none;border: 1px solid #ccc;padding: 4px 15px;display: inline-block;}
.portfolioFilter a.current {background: #1a6d6b;border: 1px solid #1a6d6b;color: #f9f9f9;}
.portfolioContainer{border: 1px solid #fff;}
/* BreadCrumb */
.breadcrumb {font-size: 18px;color: #ffffff;background: 0 0;margin: 3px 0 6px;padding: 8px 6px;border-radius: 0;margin: 0 auto;position: relative;z-index: 1;font-family:'Raleway', sans-serif;}
.breadcrumb a {color: #ffffff;}
.breadcrumb .crumbs-spacer {color: #ffffff;margin: 0 4px;}
.breadcrumb .current {font-weight: 900;}
.page-.header .entry-title {float: right;font-size: 14px;margin: 3px 0;color: #ffffff;font-weight: 400;line-height: 1.1;}
/*content*/
#content {padding: 60px 0;background-color: #f7f7f7;}
/* Contact */
.contact-info {margin-bottom: 42px;}
.contact-info .contact-item-wrapper {padding: 0 42px;}
.contact-info .contact-item-wrapper h4 {font-size: 22px;font-weight: 400;color: #0c0c0c;margin-bottom: 20px;line-height: 1.1;font-weight: 900;}
.contact-info .contact-item-wrapper .info .icon {color: #3778b9;}
.contact-info .contact-item-wrapper .info .icon {float: left;width: 42px;font-size: 30px;height: 42px;line-height: 48px;color: #3778b9;}
.contact-info p {font-size: 16px;font-family: open sans,sans-serif;margin: 0 0 15px;line-height: 24px;font-weight: 400;}
.contact-info .header-wrap {margin: 40px 0;}
.contact-info .header-wrap h3 {font-size: 40px;}
.has-error .form-control {border-color: #3778b9;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.contact-info .header-wrap{margin:0 !important;}
.contact-form .btn-common{width: 100%;    background: #087071;font-size:18px;font-weight: 900}
/* Custom Bootstrap */
.form-control {background-color: #fff;border: 1px solid rgba(0,0,0,.08);border-radius: 2px;color: #2d2d2d;display: block;height: 48px;box-shadow: none;width: 100%;}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {opacity: 1;}
.contact-form .btn-common {margin-top: 30px;}
.btn-common {background: #3778b9;}
.btn-common {padding: 12px 30px;background: #3778b9;position: relative;box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 5px 0 rgba(0,0,0,.15);}
.btn {color: #fff;border-radius: 2px;position: relative;-webkit-transition: all .3s linear;-moz-transition: all .3s linear;-ms-transition: all .3s linear;-o-transition: all .3s linear;transition: all .3s linear;border: none;text-transform: uppercase;}
.has-error .form-control:focus {box-shadow: none;}
.form-control:focus, textarea:focus {box-shadow: none;border: 1px solid #3778b9;outline: none;}
.form-group > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: #d1d1d1;opacity: 1; /* Firefox */}
.form-group > input:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #d1d1d1;}
.form-group > input:-ms-input-placeholder { /* Microsoft Edge */color: #d1d1d1;}
/*testimonials*/
.testimonials{background-color: #fff;}
/* Testimonials comment*/
.comment {position: relative;height: 100%;padding:15px 0;background-color: #f7f7f7;background-image: url(../data/comment-tab-bg.png);background-repeat: no-repeat;background-position: center center;background-size: cover;overflow: hidden;}
.heading {padding: 60px 0 35px;color: #2f3035;margin: 0;line-height: 1;text-transform: uppercase;text-align: center;font-weight: 400;font-size: 24px;}
.heading:after {display: block;content: " ";height: 2px;width: 50px;margin: 10px auto;background-color: #3778b9;}
@media (min-width: 1000px){  .comment {background-image: url(../data/comment-bg.png) !important;}  }
.comment:before {border-color: transparent transparent #f0f0f0;border-width: 19px;background: #f0f0f0;background: -moz-radial-gradient(center,ellipse cover,#f0f0f0 0,#e3e3e3 28%,#e7e7e7 58%,#e8e8e8 77%,#eaeaea 100%);background: -webkit-radial-gradient(center,ellipse cover,#f0f0f0 0,#e3e3e3 28%,#e7e7e7 58%,#e8e8e8 77%,#eaeaea 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#eaeaea', GradientType=1);}
.comment .text {margin: 0 10px 90px;font-weight: lighter;font-size: 16px;text-align: center;}
@media (min-width: 648px) {  .comment .text {margin: 0 80px 90px;}  }
@media (min-width: 768px) {  .comment .text {margin: 0 auto 90px;width: 700px;font-size: 18px;line-height: 24px;}  }
@media (min-width: 648px) {  .comment .customer {text-align: center;}  }
.comment .customer>.name {text-align: center;font-weight: 700;font-size: 18px;color: #2f3035;}
@media (min-width: 648px) {  .comment .customer > .name {display: inline-block;margin-right: 25px;}  }
.comment .customer>.name>.position {margin-top: 10px;font-weight: 400;font-size: 12px;color: #999;}
#comment {box-shadow: 0px 1px 20px 0 rgba(0,0,0,0.2);}
/* FAQs */
.faqlist li a:hover { color: #3778b9!important;}
.faqlist li {margin-bottom: 5px;font-size: 18px;}
.faqlist li a {color: #444;}
.fancy-title {position: relative;margin-bottom: 30px;}
.fancy-title ul{margin-bottom: 30px;}
.fancy-title.title-bottom-border h1, .fancy-title.title-bottom-border h2, .fancy-title.title-bottom-border h3, .fancy-title.title-bottom-border h4, .fancy-title.title-bottom-border h5, .fancy-title.title-bottom-border h6{display: block;background: 0 0;padding: 0 0 10px;border-bottom: 2px solid #3778b9;}
.fancy-title h1, .fancy-title h2, .fancy-title h3, .fancy-title h4, .fancy-title h5, .fancy-title h6{position: relative;display: inline-block;background-color: #fff;padding-right: 15px;margin-bottom: 0;}
.iconlist {padding-left: 0;margin-left: 1.75em;list-style-type: none;}
.iconlist li i{padding-right: 10px;}
.iconlist li {position: relative;}
.divider {position: relative;overflow: hidden;margin: 35px 0;color: #e5e5e5;width: 100%;}
.divider a {position: relative;display: inline-block;color: inherit;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.divider.divider-right {text-align: right;}
.divider.divider-right a:hover{color: #3778b9!important;}
.divider.divider-right:after {left: auto;right: 30px;}
.divider.divider-center.divider-short:before, .divider.divider-center:before, .divider:after {content: '';position: absolute;width: 100%;top: 8px;left: 30px;height: 0;border-top: 1px solid #eee;}
.divider i {position: relative;width: 18px;height: 18px;line-height: 1;font-size: 18px!important;text-align: center;}
.divider.divider-center.divider-short:before, .divider.divider-center:before, .divider:after {content: '';position: absolute;width: 100%;top: 8px;left: 30px;height: 0;border-top: 1px solid #eee;}
/* Mobile version menu*/
.nav >li >a {padding-top: 20px;padding-bottom: 20px;}
.navbar{display: none;border:unset;}
.navbar-inverse{background-color: unset;border-color: unset;}
.navbar-brand {height: 80px;}
.navbar-toggle {padding: 10px;margin: 25px 15px 25px 0;}
.navbar-inverse .navbar-toggle{ border-color:#fff!important;}
@media only screen and (min-width : 576px) and (max-width : 767px) {
    .navbar{display: block;margin:0;padding:0;}
    .header .mid {display: none !important;}
    .header .top-bg-small, .top-bg{display: none !important;}
}
@media only screen and (min-width: 321px) and (max-width : 575px){
    .navbar{display: block;margin:0;padding:0;}
    .header .mid {display: none !important;}
    .header .top-bg-small, .top-bg{display: none !important;}
    .chatButton{display: none !important;}
    .check{display: none !important;}
}
@media only screen and (max-width : 320px){
    .navbar{display: block;margin:0;padding:0;}
    .header .mid {display: none !important;}
    .header .top-bg-small, .top-bg{display: none !important;}
}
/* Background-image */
.bg{position: relative}
.bg-img{position: absolute;top: -20px;left: 0;height: 150px;}
.bg-img2{text-align: center;width: 100%;height: 150px;z-index: 1;}
/* Input search style */
input {outline: none;}
input[type=search] {-webkit-appearance: textfield;-webkit-box-sizing: content-box;font-family: inherit;font-size: 100%;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {display: none;}
input[type=search] {background: #2e2e2e url(../data/search.png) no-repeat 150px center;background-size: 40px 40px;border: solid 1px #2e2e2e;padding: 9px 32px 9px 10px;width: 150px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-transition: all .5s;-moz-transition: all .5s;transition: all .5s;color:#fff;height: 25px;}
input[type=search]:focus {width: 160px;background-color: #2e2e2e;border-color: #37c1ff;-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);box-shadow: 0 0 5px rgba(109,207,246,.5);}
input:-moz-placeholder {color: #fff;}
input::-webkit-input-placeholder {color: #fff;}
/* Mix-Container */
.mix-container a {position: relative;}
.mix-container a::before {position: absolute;top: 0;left: -75%;z-index: 2;display: block;content: '';width: 50%;height: 100%;background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);-webkit-transform: skewX(-25deg);transform: skewX(-25deg);}
.mix-container a:hover::before {-webkit-animation: shine .75s;animation: shine .75s;}
@-webkit-keyframes shine { 100% {left: 125%;} }
@keyframes shine { 100% {left: 125%;} }
/*tp-caption*/
.tp-caption.skewfromleft {background-color: rgba(255,255,255,0.882353);color: #2a2a3d;text-decoration: none;font-size: 18px !important;font-weight: 300;line-height: 55px;border-width: 0px;border-color: rgb(0,0,0);border-style: none;text-shadow: none;width: 720px !important;min-width: 720px !important;padding:20px 30px;}
.tp-caption.sfl{padding: 20px 30px !important;font-size: 16px !important;border: 0;border-radius: 0;border-right: 5px solid #232323;background: #6299D1 !important;background-color: #6299D1 !important;color: #fff!important;text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);}
.tp-caption.sfl a{color:#fff !important;}
.page-header{padding: 15px 0 15px 15px;margin:0 !important;border-bottom: 5px solid #087071;}
@media (max-width: 767px) {
    #baguetteBox-overlay .full-image figcaption{line-height: 1 !important;font-size: 35px !important;padding:30px;}
    #baguetteBox-overlay .full-image img{padding:10px;}
}
.bg-white { background:#FFF; }
.p-top-20 { padding-top: 20px; }
.text-jade { color:#087071; }
.menu-image-wrapper { height:inherit; overflow:hidden; width:100%;position:absolute;top:0px;left:0px; height:105px; }
#submit:hover{color:#000;}
/*Contact*/
.contact-info-wrapper{border-top:1px solid #000;}
.contact-item-wrapper{padding:30px;}
.contact-item-wrapper img{width: 40px;float:right;}
.contact-item-wrapper ul li:first-child{font-size:18px; font-weight: bold;}
#content{padding:30px 0;}
.contact-info .description{font-size:25px;}
/* About Header*/
.about-header{background: url(../data/breadcrumb-bg.jpg) no-repeat center center;background-color: #1E1E1E;text-align: center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;padding: 100px 0;}
.about-header .box{color:#fff;}
.about-header .box h2{font-size:56px;}
.about-header .box .about-header-description{font-size:24px; font-style: italic}
.about-wrapper{background: #fff; padding:10px 0;}
.about-wrapper-title{text-align: center;padding:15px 0;}
.about-wrapper-description{text-align: justify;padding:15px 0;font-size:16px; font-style: italic}
/* testimonial style */
.testimonial-style {padding:20px 0;}
.testimonial-style  .comment-second{margin-top:20px;padding:20px;font-weight: lighter;font-size: 16px;border: none;-webkit-border-radius: 8px;border-radius: 2px;box-shadow: 0 1px 10px 0 rgba(0,0,0,0.19);text-align: center;font-family:'Raleway', sans-serif;}
.testimonial-style  .comment-second .customer>.name {text-align: center;font-weight: 700;font-size: 18px;color: #2f3035;}

/* Quote Upload File */
.file-upload-wrapper {position: relative;width: 100%;height: 40px;}
.file-upload-wrapper:after {content: attr(data-text);font-size: 18px;position: absolute;top: 0;left: 0;background: #fff;padding: 0px 15px;display: block;width: calc(100% - 40px);pointer-events: none;z-index: 20;height: 40px;line-height: 40px;color: #999;border-radius: 5px 10px 10px 5px;font-weight: 300;}
.file-upload-wrapper:before {content: 'Upload';position: absolute;top: 0;right: 0;display: inline-block;height: 40px;background: #4daf7c;color: #fff;font-weight: 700;z-index: 25;font-size: 16px;line-height: 40px;padding: 0 15px;text-transform: uppercase;pointer-events: none;border-radius: 0 5px 5px 0;}
.file-upload-wrapper:hover:before {background: #3d8c63;}
.file-upload-wrapper input {opacity: 0;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 99;height: 40px;margin: 0;padding: 0;display: block;cursor: pointer;width: 100%;}
/* Single Page */
#project-single-area{background: #fff;padding: 25px 0 80px 0;font-family: 'Roboto', sans-serif;font-size: 16px;color: #000;line-height: 28px;font-weight: 300;}
#project-single-area .project-info {}
#project-single-area .project-info h3 {color: #252525;font-size: 24px;font-weight: 700;margin: -4px 0 27px;text-transform: uppercase;}
#project-single-area .project-info .project-info-list {overflow: hidden;margin-top: 15px;}
#project-single-area .project-info .project-info-list li {border-bottom: 1px solid #f7f7f7;float: left;overflow: hidden;padding-bottom: 11px;position: relative;}
#project-single-area .project-info .project-info-list li .icon-holder {left: 0;position: absolute;top: -5px;}
#project-single-area .project-info .project-info-list li .icon-holder i {font-size: 14px;color: #d5ac63;}
#project-single-area .project-info .project-info-list li .text-holder {padding-top:15px;}
#project-single-area .project-info .project-info-list li .text-holder h5 {color: #252525;font-size: 16px;font-weight: 900;text-transform: capitalize;margin: 0 0 3px;}
#project-single-area .project-info .project-info-list li .text-holder p {margin: 0;}
#project-single-area .project-info .share-project {padding-left: 150px;position: relative;}
#project-single-area .project-info .share-project .title {left: -1px;position: absolute;}
#project-single-area .project-info .share-project .title h5 {color: #252525;font-size: 14px;font-weight: 400;text-transform: uppercase;}
#project-single-area .project-info .share-project .social-share {padding-left: 40px;}
#project-single-area .project-info .share-project .social-share ul li {display: inline-block;margin-right: 15px;}
#project-single-area .project-info .share-project .social-share ul li a i {color: #9a9a9a;font-size: 14px;}
#project-single-area .bottom {border-bottom: 1px solid #f7f7f7;border-top: 1px solid #f7f7f7;margin: 48px 0 0;overflow: hidden;padding-bottom: 20px;padding-top: 20px;}
#project-single-area .bottom .button a {color: #252525;font-size: 14px;font-weight: 400;text-transform: uppercase;transition: all 500ms ease;}
#project-single-area .bottom .button a:hover{color: #fdc716;}
#project-single-area .bottom .button a i {display: inline-block;font-size: 18px;padding-right: 10px;position: relative;top: 1px;}
#project-single-area .bottom .button.next a i{padding-right: 0px;padding-left: 10px;}
#project-single-area .bottom .icon-holder a i {color: #252525;font-size: 24px;position: relative;top: 4px;transition: all 500ms ease 0s;}
#project-single-area .bottom .icon-holder a:hover i{color: #d5ac63;}
/*Chat bot*/
.chatButton {background: rgb(6, 97, 94);text-indent: 0;color: #e8e8e8;font-family: 'Raleway', sans-serif;font-size: 16px;font-weight: 700;font-style: normal;height: 50px;line-height: 50px;width: 200px;display: block;padding: 0;position: fixed;left: -75px;bottom: 45%;z-index: 5000;text-decoration: none;text-align: center;text-rendering: optimizeLegibility;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);border-radius: 0 0 10px 10px;border: 0;box-shadow: 0 0 5px #035f5c;}
/* Single Project Image */
.thumbnails img, .main-images img {max-width: 100%;padding: 5px;border: 1px solid #ccc;height: auto;background: #fff;box-shadow: 1px 1px 7px rgba(0,0,0,0.1);}
.main-images {width: 100%;margin-bottom: 0.75em;}
.thumbnails li {display: inline;margin: 0 10px 0 0;width: 40px;}
.thumbnails li img {width: 80px;}
.thumbnails {padding: 0;}
/* Go-Top*/
#go-top{display:none;position:fixed;bottom:20px;right:20px;background:rgb(6,97,94);cursor:pointer;border-radius:50%;z-index:123456}
#go-top span{padding:12px;color:#fff;font-size:24px}
#go-top span:hover{background-color:#10997e;border-radius:50%}
/* Stones new Style */
.stones .controls .check{display:inline-block;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;height:60px;line-height:75px;margin-right:25px;padding-left:10px;position:relative;cursor:pointer;text-transform:uppercase}
.stones .controls .check .check-title{display:inline-block;font-family:'Raleway',sans-serif;font-size:17px;font-weight:700;color:#fff;position:relative}
.checkbox-container{display:inline-block;position:relative;padding-right:35px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.checkbox-container input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.checkmark{position:absolute;top:25px;right:0;height:25px;width:25px;border:1px solid #999}
.checkbox-container:hover input~.checkmark{background-color:#585858}
.checkbox-container input:checked~.checkmark{border:1px solid #00a86b}
.checkmark:after{content:"";position:absolute;display:none}
.checkbox-container input:checked~.checkmark:after{display:block;position:absolute;height:16px;width:16px;content:'';left:3px;top:50%;margin-top:-8px;background:url(../data/icon/check.png);opacity:1}
.stones .mix-container .mix{-webkit-transition:width 0.5s}
.images-container{display:flex;justify-content:space-evenly}
/*Search*/
.search{float:right;padding-top: 10px;}
/* RESPONSIVE CODE IS HERE */
/*@media(min-width:1281px){.stones .mix-container .mix .img{height: 285px; height: 285px;}}*/
@media(min-width:1025px) and (max-width:1280px){
    .header .mid{
        text-align: right !important;
        z-index:11111 !important;
    }
    input[type=search]{
        background: #2e2e2e url(../data/search.png) no-repeat 250px center;
        width: 250px;
    }
    body:not(.home) .top-bg-small{
        width: 150px;
    }
    input[type=search]:focus{
        width: 260px;
    }
    .bg-img{
        width: 50%;
    }
    .stones .mix-container .mix .img{
        /*height: 160px !important;*/
    }
    .demo-gallery > ul > li a{
        height: 200px !important;
    }
    .checkbox-container{
        display: none;
    }
}
@media(min-width:768px) and (max-width:1024px){
    .bg-img{
        width: 50%;
        height: 170px;
    }
    .header menu{
        display:block !important;
    }
    .top-banner{
        display: none !important;
    }
    .header .mid{
        text-align: right !important;
        z-index:11111 !important;
    }
    /*.stones .mix-container .mix .img{
        height: 220px;
    }*/
    input[type=search]{
        background: #2e2e2e url(../data/search.png) no-repeat 200px center;
        width: 200px;
    }
    body:not(.home) .top-bg-small{
        width: 150px;
    }
    input[type=search]:focus{
        width: 210px;
    }
    .header menu > li{
        padding:7px !important;
    }
    .stones .mix-container, .stones .controls{
        padding: 15px 10px;
    }
    .header menu > li >a.hasSub:after{
        right: 6px;
        top: 12px;
    }
    .contact-info-wrapper{
        margin-top:30px;
    }
}
@media(min-width:768px) and (max-width:1024px) and (orientation:landscape){
    .header menu > li{
        padding:5px !important;
    }
    .top-banner{
        display: none !important;
    }
    header {
        height: 75px !important;
    }
    .contact-info-wrapper{
        margin-top:30px;
    }
    .demo-gallery > ul > li a{
        height: 150px !important;;
    }
    .checkbox-container{
        display: none;
    }
}
@media(min-width:481px) and (max-width:767px){
    .portfolioFilter a{
        margin-bottom:5px;
    }
    .top-banner{
        display: none !important;
    }
    .navbar-brand > img{
        position: relative;
        top:10px;
    }
    .stones .mix-container, .stones .controls{
        padding: 15px 10px;
    }
    input[type=search]{
        background: #2E2E2E url(../data/search.png) no-repeat 100% center;
        width: 92%;
        z-index: 999;
    }
    input[type=search]:focus{
        width: 92.5%;
    }
    .search{
        float:unset!important;
    }
    .bg-img{
        width: 50%;
        height: 170px !important;
    }
    .contact-info-wrapper{
        margin-top:30px;
    }
    .checkbox-container{
        display: none;
    }
}
@media(min-width:320px) and (max-width:480px){
    .demo-gallery{
        padding-top:0;
    }
    .portfolioFilter a{
        margin-bottom:5px;
    }
    input[type=search]{
        display: none;
    }
    .top-banner{
        display: none !important;
    }
    .header{
        padding:0px;
    }
    header{
        height: 75px !important;
    }
    .navbar-brand > img{
        position: relative;
        top:10px;
    }
    .bg-img{
        display: none !important;
    }
    .stones .controls h1{
        width: 80% !important;
    }
    .contact-info-wrapper{
        margin-top:30px;
    }
    .demo-gallery > ul > li a{
        height: unset !important;;
    }
    .checkbox-container{
        display: none;
    }
    #navbar3 nav li{
        padding:0 20px;
    }
    .navbar-inverse .navbar-nav>li>a{
        color:#fff !important;
    }
    .navbar-nav{
        margin: 0 -15px !important;
        padding: 10px !important;
    }
    .menu-image-wrapper{display: none !important;}
}

.margin-top-5 {
    margin-top: 5px;
}