@media only screen and (min-width:320px) and (max-width:420px) {
    .caption-wrapper-right { top: 10%; }
    .caption-linkboxouter-right { height: 12%; }
    .caption-linkboxinner-right a { text-decoration: none; line-height: 10vw; font-size: 1em; }
    .main-wrapper p, .main-wrapper h4 { font-size: 12px; }
    .main-wrapper iframe { height: 50vw; }
    #menutop li a { font-size: 11px; }
    #menutopWhite li a, #menutopWhite li span.separator { font-size: 11px; }

    .listItem1 { padding: 0 10px; }
    .highlightedListItem { padding: 0 10px; }
    .nav-button, .nav-close, .search-button, .map-button { top: 10px; }
    .container { width: 100%; }
    .modal-sm { width: 100%; }
    .modal h2 { font-size: 1em; }
    .modal p { font-size: 0.8em; }
    /*.thumbnail { height: 38vw; }*/
    .logo-container { width: 100%; }
    header { padding: 0; line-height: 2.4rem; }
        header img { padding: 5px; }
   
    .searchbox { top: 3.2rem; }
    .theme-default .nivo-controlNav { margin-top: -40px; }
    .downarrow { height: 30px; width: 30px; margin-top: -40px; }
  
    .logo-link { height: 50px; }
    .WaterMarkText, .txt_search { height: 70px; width: 80%; }
    .btn_search { width: 16%; height: 70px; }
    .hidden-xs { display: none; }
    .navHeader { display: none; }
    .anc-overlay { line-height: 28px; font-size: 0.7em; }
    .news-subscribe-left { font-size: 1.20vw; }
    .txt_Email { width: 80%; height: 36px; font-size: 16px; }
    .WaterMarkTextEmail { width: 80%; font-size: 16px; height: 36px; }
    #footnav { display: none; }
    .footer_content { width: 90%; }
    #footCopyright a { font-size: 12px; }
    .news-subscribe { max-width: 100%; padding: 2% 20%; text-align: center; }
    .news-subscribe-left { font-size: 1em; }
    .news-subscribe-right { }
    .menu_content { max-width: 100%; }
    .nivo-caption { max-width: 100%; }
    .caption-wrapper { top: 0; }
    .caption-wrapper-left { display: none; }
    .caption-wrapper-right { height: 100%; position: relative; padding: 10px; width: 70%; margin: 0 auto; }
    .caption-linkboxouter-right { background: #000; width: 100%; background-color: rgba(0,0,0,0.1); position: relative; }
    .caption-linkboxinner-right { text-decoration: none; color: #ffffff; width: 96%; height: 82%; margin: 2%; background-color: rgba(0,0,0,0.6); text-align: center; position: absolute; }
    .caption-leftouter { height: 50%; }
    #imgBanner { min-height: 150px; }
    .social-icons { width: 100%; }
     .social-icons a {margin-right:10px;}
     .career-icon { width: 50%; }
    .newsletter { width: 80%; }
        .newsletter h3 { font-size: 4vw; }
        .mosaictitle { font-size: 11px; height: 15vw; }
}

@media only screen and (min-width:420px) and (max-width:767px) {
    .container { width: 100%; }
    .modal-sm { width: 100%; }
    .modal h2 { font-size: 1em; }
    .modal p { font-size: 0.8em; }
    /*.thumbnail { height: 30vw; }*/
    .logo-container { width: 100%; }
    header { padding: 0; line-height: 2.4rem; }
        header img { padding: 5px; }
    .nav { padding-top: 10%; line-height: 2.8rem; background: #fff; color: #ffffff; }
    .searchbox { top: 3.4rem; }
    .theme-default .nivo-controlNav { margin-top: -40px; }
    .downarrow { height: 30px; width: 30px; margin-top: -40px; }
  
   
    .logo-link { height: 50px; }
    .WaterMarkText, .txt_search { height: 70px; width: 60%; }
    .btn_search { width: 12%; height: 70px; }
    .hidden-xs { display: none; }
    .navHeader { display: none; }
    .anc-overlay { line-height: 28px; font-size: 0.8em; }
    .news-subscribe-left { font-size: 1.20vw; }
    .txt_Email { width: 80%; height: 36px; font-size: 16px; }
    .WaterMarkTextEmail { width: 80%; font-size: 16px; height: 36px; }
    #footnav { display: none; }
    .footer_content { width: 90%; }
    #footCopyright a { font-size: 12px; }
    .news-subscribe { max-width: 100%; padding: 2% 20%; text-align: center; }
    .news-subscribe-left { font-size: 1em; }
    .news-subscribe-right { }
    .menu_content { max-width: 100%; }
    .nivo-caption { max-width: 100%; }
    .caption-wrapper { top: 0; }

}

@media (min-width:768px) {
   h1 {
        font-size:32px;
    }
    body {margin: 0 auto; max-width: 100%; width: 100%; overflow-x: hidden; padding: 0 !important; padding-top: 2.8rem; }
    .listItem1 { padding: 10px; }
    .highlightedListItem { padding: 10px; }
    .searchbox { display: block; position: relative; bottom: auto; overflow: visible; }
    header { padding: 10px 3px; position: relative; }
    .modal-md { width: 60%; }
   
    .container { width: 100%; }
   
    .overlay-inspiration h1, .overlay-videos h1 { font-size: 44px; }
     .mosaictitle { font-size: 11px; height: 6vw; }
     
}

@media (min-width:992px) {
   h1 {
        font-size:32px;
    }
    .downarrow { margin-top: -8%; height: 60px; width: 60px; }

    .main-wrapper iframe { height: 15vw; }
    .videobox { height: 20vw; }
    
    .caption-leftouter { height: 50%; }
    .caption-leftinner p { font-size: 14px; }
    .caption-linkboxouter-left, .caption-linkboxouter-right { height: 12%; }
    .caption-linkboxinner-left a, .caption-linkboxinner-right a { text-decoration: none; line-height: 4vw; }
    .hidden-xs { display: block !important; }
   
}

@media only screen and (min-width:992px) and (max-width:1299px) {
 h1 {
        font-size:32px;
    }
    .caption-leftouter { height: 50%; }
    .caption-linkboxouter-left, .caption-linkboxouter-right { height: 14%; }
    .caption-linkboxinner-left a, .caption-linkboxinner-right a { text-decoration: none; line-height: 4.5vw; }
    .nav { line-height: 3.4rem; }
    .container { width: 98%; }
    .logo-link { height: 98px; }
    .WaterMarkText, .txt_search, .btn_search { height: 47px; }
    .caption-linkboxinner-left a, .caption-linkboxinner-right a { font-size: 18px; }
    .caption-leftinner h2 { font-size: 28px; }
    .caption-leftinner p { font-size: 14px; }
    .anc-overlay { line-height: 36px; font-size: 15px; }
    .news-subscribe-left { font-size: 14px; }
    .txt_Email { width: 100%; height: 30px; font-size: 16px; }
    .WaterMarkTextEmail { width: 100%; font-size: 16px; height: 30px; }
    #footnav > li > a { padding: 0 1.2vw; }
    #footnav li a { font-size: 1em; }
    .footer_content { width: 70%; }
    #footCopyright { margin-top: 3%; }
        #footCopyright a { font-size: 13px; }
}

@media (min-width:1300px) {
    h1 {
        font-size:32px;
    }
    .container { width: 1170px; }
    .overlay-inspiration h1, .overlay-videos h1 { font-size: 72px; }
    .videobox { height: 15vw; }
    header { padding: 15px 0px; }
    .main-wrapper h4, .main-wrapper p { font-size: 14px; }
    
    .navHeader a, .navHeader a:active, .navHeader a:hover, .navHeader a:visited { font-size: 1vw; padding: 0 2.25vw 0; }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
    .col-lg-4 { width: 33.33333333%; }
    .logo-link { height: 98px; }
    .WaterMarkText, .txt_search, .btn_search { height: 47px; }
    .caption-linkboxinner-left a, .caption-linkboxinner-right a { font-size: 24px; }
    .caption-leftinner h2 { font-size: 36px; }
    .caption-leftinner p { font-size: 18px; }
    .anc-overlay { line-height: 40px; font-size: 19px; }
    .news-subscribe-left { font-size: 1.3em; letter-spacing: 3px; }
    .txt_Email { width: 100%; height: 41px; font-size: 16px; }
    .WaterMarkTextEmail { width: 100%; font-size: 16px; height: 41px; }
    .main-wrapper h4 { font-size: 1em; }
    #footnav a { padding: 0 1.6vw; }
    #footnav li a { font-size: 1em; }
    .footer_content { width: 53%; }
    #footCopyright { margin-top: 3%; }
        #footCopyright a { font-size: 13px; }
    #menutopWhite li a, #menutopWhite li span.separator { font-size: 28px; }
    .mosaictitle { font-size: 12px; height: 4vw; }
     .caption-wrapper-left { width:32%; }
    .caption-wrapper-right {  width: 32%; }
}

@media only screen and (min-width:1400px) {
    h1 {
        font-size:32px;
    }
    .container { width: 86%; }
    .logo-link { line-height: 4.4rem; display: block; }
    .logo-box { padding: 1.5% 0; }
    .WaterMarkText, .txt_search, .btn_search { height: 70px; }
    .videobox { height: 150px; }
   
       
    .caption-linkboxinner-left a, .caption-linkboxinner-right a { font-size: 1.5vw; }
    .caption-leftinner h2 { font-size: 3vw; }
    .caption-leftinner p { font-size: 1.3vw; }
    .anc-overlay { line-height: 2; font-size: 1.5vw; }
    .news-subscribe-left { font-size: 1.5vw; letter-spacing: 3px; }
    .txt_Email { width: 100%; height: 55px; font-size: 1vw; }
    .WaterMarkTextEmail { width: 100%; font-size: 1vw; height: 55px; }
    #footnav > li > a { padding: 0 2vw; }
    #footnav li a { font-size: 1vw; }
    #footCopyright { margin-top: 5%; }
        #footCopyright a { font-size: 1vw; }
    .overlay-videos h1 { font-size: 2vw; }
     .mosaictitle { font-size: 0.9vw; }
}

.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.row::before, .row::after { content: " "; display: table; }
.row { margin-left: -15px; margin-right: -15px; clear: both; }
.nav-lock-scroll {
    overflow: hidden;
}



@media only screen and (min-width:768px) {
  
                

}

@media only screen and (max-width:959px) {
    .nav-no-js .nav-button:hover + .nav, .nav-no-js .nav-button:hover + .nav + .nav-close, .nav-no-js .nav:hover, .nav-no-js .nav:hover + .nav-close {
        display: block;
    }
}


.overlay-bottomline {
    bottom: 0;
}

#slides_control > div {
    height: 200px;
}



#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}

.text_wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Media wise height of visualizer */
.containerDiv {
    position: relative;
    border: 5px solid transparent;
    padding: 5px;
}

@media (min-width:1200px) {
    .containerDiv {
        height: 547px;
    }
}

@media (min-width:992px) {
    .containerDiv {
        height: 456px;
    }
}

@media (min-width:768px) {
    .containerDiv {
        height: 360px;
    }
}

@media (max-width:767px) {
    .containerDiv {
        height: 288px;
    }
}

.overlayImg {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    resize: both;
}

.baseTitle {
    height: 35px;
    display: block;
    text-align: justify;
    
}

.tab span {
    color: gray !important;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    font-family: Trebuchet MS;
}

.unselectedImg {
    -webkit-filter: grayscale(100%); /*  opacity(30%);Safari 6.0 - 9.0 */
    filter: grayscale(100%) opacity(30%);
    /* IE 6-9 */
    filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  opacity: .4; /* other browsers  and IE9+ */
    filter: alpha(opacity=40); /* IE6+ */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); /* IE6+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)"; /* this works in IE8 only */
}

.selected-option {
    border: 2px solid rgb(51, 51, 51);
}

/* |----- Css for responsive image-----|[Start] */
@media only screen and (min-width:320px) and (max-width:420px) {
	.img-responsiveKitchen {
        height:55vw;
    }
}
@media only screen and (min-width:420px) and (max-width:767px) {
	.img-responsiveKitchen {
        height:57vw;
    }
}

@media (min-width:768px) {
.img-responsiveKitchen {
        height:45vw;
    }
}

@media (min-width:992px) {
.img-responsiveKitchen {
        height:35vw;
    }
}

@media only screen and (min-width:992px) and (max-width:1299px) {
.img-responsiveKitchen {
        height:45vw;
    }
}

@media (min-width:1300px) {
.img-responsiveKitchen {
        height:30vw;
    }
}

@media only screen and (min-width:1400px) {
.img-responsiveKitchen {
        height:auto;
    }
}
/* |----- Css for responsive image-----|[End] */
@media only screen and (min-width:320px) and (max-width:420px) {
 .visualizerEdge {
        margin-bottom:-9%;
    }

 .anc-overlay {
        line-height: 28px;
        font-size: 4.2vw;
        margin-bottom:-1%;
    }
    .anc-overlay-industry {
        line-height: 28px;
        font-size: 0.7em;
    }
}

@media only screen and (min-width:420px) and (max-width:767px) {
    .visualizerEdge {
        margin-bottom:-9%;
    }

      .anc-overlay {
        line-height: 28px;
        font-size: 3.8vw;
        margin-bottom:-0%;
    }
    .anc-overlay-industry {
        line-height: 28px;
        font-size: 0.8em;
    }
}

@media (min-width:768px) {
     .visualizerEdge {
        margin-bottom:-9%;
    }

      .anc-overlay {
        line-height: 26px;
        font-size: 1.2vw;
        margin-bottom:-7%;
        margin-top:-2%;
    }
    .anc-overlay-industry {
        line-height: 28px;
        font-size: 1.45vw;
    }

}

@media (min-width:992px) {
    .visualizerEdge {
        margin-bottom:-9%;
    }
}

@media only screen and (min-width:992px) and (max-width:1299px) {
     .visualizerEdge {
        margin-bottom:-9%;
    }

     .anc-overlay {
        line-height: 35px;
        font-size: 1.2vw;
        margin-bottom:-9%;
        margin-top:-3%;
    }
     .anc-overlay-industry {
        line-height: 36px;
        font-size: 15px;
    }
}

@media (min-width:1300px) {
    .visualizerEdge {
        margin-bottom:-9%;
    }

     .anc-overlay {
        line-height: 40px;
        font-size: 1vw;
        margin-bottom:-8%;
    }
    .anc-overlay-industry {
        line-height: 40px;
        font-size: 19px;
    }


}

@media only screen and (min-width:1400px) {
    .visualizerEdge {
        margin-bottom:-9%;
    }

     .anc-overlay {
        line-height: 2;
        font-size: 1vw;
        margin-bottom:-4%;
    }
     .anc-overlay-industry {
        line-height: 2;
        font-size: 1.2vw;
    }
 }



.anc-overlay {
    display: block;
    height: 100%;
    transition: all 1s ease 0s;
    width: 100%;
    text-decoration: none;
    z-index: 2;
    color: #000;
}

.anc-overlay-industry {
    display: block;
    height: 100%;
    transition: all 1s ease 0s;
    width: 100%;
    text-decoration: none;
    z-index: 2;
    color: #000;
}


.box_overlay {
    width: 100%;
    z-index: 2;
    display: block;
    position: absolute;
    /*background:#8d1616;*/
    text-align: center;
    /*opacity: 0.6;*/
    -moz-opacity: 0.6;
    filter: alpha(opacity=6);
}
.box_overlay-industry {
    width: 100%;
    z-index: 2;
    display: block;
    position: absolute;
    background:rgba(255, 255, 255, .6);
    text-align: center;
    /*opacity: 0.6;*/
    -moz-opacity: 0.6;
    filter: alpha(opacity=6);
}
/*Hiding More Option In Desktop View*/
.more {
    display:none;
}
@media screen and (min-width:320px) and (max-width:420px) {
    #ProductName {
        margin-left:30px;
        margin-top:-58px;
    }
    #logoheight {
        margin-top:-40px;
    }
}
@media screen and (min-width:420px) and (max-width:767px) {
     #ProductName {
        margin-left:30px;
        margin-top:-58px;
    }
     #logoheight {
        margin-top:-40px;
    }
}


/*Hiding More Option In Desktop View*/